.ag-input-field-input.ag-text-field-input{
    padding-left: 24px !important;
}

.ag-row-even {
    /* Set the color for the even rows */
    background-color: #f5f5f5; /* A very light gray */
}

/* * You typically don't need to style ag-row-odd unless 
 * you want a specific color for both even and odd rows. 
 * By default, ag-row-odd will use the main theme color.
 */
.ag-row-odd {
    background-color: white; /* Explicitly set the odd row color if needed */
}

.ag-root-wrapper {
    border-radius: 4px !important;
}
.ag-cell:focus {
    outline: none !important;
    border: unset !important;
}