.ag-input-field-input.ag-text-field-input{
    padding-left: 24px !important;
}

.ag-row-even {
    background-color: white;
}

.ag-row-odd {
    background-color: #f3f3f3;
}

.ag-root-wrapper {
    border-radius: 4px !important;
}
.ag-cell:focus {
    outline: none !important;
    border: unset !important;
}

.action-icon{
    cursor: pointer;
}
.ag-header-row {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}