.ag-input-field-input.ag-text-field-input{
    padding-left: 24px !important;
}
.ag-row {
    color: #646B72;
}
.ag-row-even {
    background-color: white;
}

.ag-row-odd {
    background-color: #F7F7F7;
}

.ag-root-wrapper {
    border-radius: 4px !important;
}
.ag-cell:focus {
    outline: none !important;
    border: unset !important;
}

.action-icon{
    cursor: pointer;
}
.ag-header-row {
  background-color: #eaeaea;
  color: #333;
  font-weight: bold;
}